@charset "utf-8";

/* CSS Document */

.container {
    display: flex;
    /*border: 1px solid black;  for demo purposes */
}

.bluebox {
    flex: 0 0 33.33%;
    background-color: FFF8C6;
    /*height:148px;*/
}

.greenbox {
    flex: 0 0 33.33%;
    background-color: FFF8C6;
    /*height:148px;*/
}

.yellowbox {
    flex: 0 0 33.33%;
    background-color: yellow;
    /*height:148px;*/
}


/*.pinkbox {
			flex: 0 0 11.11%;
			background-color: pink;
			height:87px;
		}

		.redbox {
			flex: 0 0 11.11%;
			background-color: red;
			height:87px;
		}*/

.container > div {
    /*box-sizing: border-box;*/
    padding: 0px;
    text-align: center;
}

.MyLink img {
    float: center;
    margin: 20px 10px 0px 0;
}

.MyLink span {
    overflow: hidden;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 60px;
    margin-top: 30px;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    /*border-style: solid;
			/*border-width: 1px;*/
    /*border-color: black;*/
    overflow: hidden;
    word-break: keep-all;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 44px;
    font-weight: normal;
    /* padding: 10px 5px; */
    /* border-style: solid; */
    /* border-width: 1px; */
    /*border-color: black;*/
    overflow: hidden;
    word-break: keep-all;
}

.tg .tg-c3ow {
    text-align: center;
    /*vertical-align:top*/
}

.tg-c3ow p {
    margin-top: -8px;
    /* margin-bottom: 1rem; */
    word-break: keep-all;
    margin-bottom: -14px;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    /* padding: 10px 5px; */
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: black; */
    overflow: hidden;
    word-break: keep-all;
}

.tg-c3ow img {
    margin-top: -10px;
}

.bluebox img {
    margin-top: 20px;
}

.tg .tg-c3ow {
    text-align: center;
    /* vertical-align: top; */
    border-color: FFF8C6;
}

.tg2 {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg2 td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0px 5px;
    /*border-style: solid;
			border-width: 1px;
			border-color: black;*/
    overflow: hidden;
    word-break: keep-all;
}

.tg2 th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 0px 20px;
    /*border-style: solid;
			border-width: 1px;
			border-color: black;*/
    overflow: hidden;
    word-break: keep-all;
}

.tg2 .tg-s6z2 {
    text-align: center
}

.tg2 .tg-lqy6 {
    text-align: right;
    vertical-align: top
}

.tg2 .tg-s268 {
    text-align: left
}

.tg2 .tg-0lax {
    text-align: left;
    vertical-align: top
}

.tg-s6z2 p {
    word-break: keep-all;
}

#Group_279 {
    opacity: 1;
    position: absolute;
    /* width: 1000px; */
    /* height: 184px; */
    /* left: 200px; */
    /* top: 1052px; */
    overflow: visible;
    margin: 0 100px auto;
}

#Group_280 {
    opacity: 1;
    position: absolute;
    /* width: 1000px; */
    /* height: 184px; */
    /* left: 200px; */
    /* top: 1266px; */
    overflow: visible;
    margin: 200px 100px auto;
}

#Rectangle_467 {
    opacity: 0.7933580279350281;
    fill: rgba(255, 255, 255, 1);
}

.Rectangle_467 {
    position: absolute;
    overflow: visible;
    width: 1000px;
    height: 184px;
    left: 0px;
    top: 0px;
}

#Line_18 {
    opacity: 1;
    fill: transparent;
    stroke: rgb(237, 202, 202);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-dasharray: 3 6;
    stroke-dashoffset: 0;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_18 {
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    height: 2px;
}

#Line_19 {
    opacity: 1;
    fill: transparent;
    stroke: rgb(237, 202, 202);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-dasharray: 3 6;
    stroke-dashoffset: 0;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_19 {
    overflow: visible;
    position: absolute;
    top: 184px;
    left: 0px;
    width: 1000px;
    height: 2px;
}

#ID2019_2_28 {
    opacity: 1;
    position: absolute;
    left: 442px;
    top: 28px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5.5px;
    text-align: left;
    font-family: Koburina Gothic Std;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.5px;
}

#______________ {
    opacity: 1;
    filter: drop-shadow(0px 0px 15px rgba(222, 227, 90, 0.686));
    position: absolute;
    left: 451px;
    top: 4033px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 500px;
    height: 24px;
    line-height: 25px;
    margin-top: -5.5px;
    text-align: center;
    font-family: Koburina Gothic Std;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.5px;
}

#_______________________________A0_Text_56 {
    opacity: 1;
    position: absolute;
    left: 310px;
    top: 109px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 540px;
    height: 46px;
    line-height: 25px;
    margin-top: -5.5px;
    text-align: left;
    font-family: Koburina Gothic Std;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.5px;
}

#_____A0_SymbolInstance_3 {
    opacity: 1;
    position: absolute;
    width: 120px;
    height: 24px;
    left: 310px;
    top: 26px;
    overflow: visible;
}

#_____A0_Text_57 {
    opacity: 1;
    position: absolute;
    left: 28px;
    top: 1px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    text-align: center;
    font-family: Koburina Gothic Std;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

#_______2 {
    opacity: 1;
    position: absolute;
    width: 94.454px;
    height: 20px;
    left: 746px;
    top: 29px;
    overflow: visible;
}

#_______A0_Text_58 {
		opacity: 1;
		filter: drop-shadow(0px 0px 15px rgba(222, 227, 90, 0.686));
		position: absolute;
		left: 24.454px;
		top: 0px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -14.5px;
		text-align: center;
		font-family: Tsukushi B Round Gothic;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(82,82,82,1);
	}
#Path_48_A0_Path_84 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(82, 82, 82);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_48_A0_Path_84 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: -0.5px;
		left: 0px;
		width: 8.1641845703125px;
		height: 13.5px;
	}
#__0803270081 {
		opacity: 1;
		fill: url(#__0803270081_A0_Rectangle_93_pattern);
	}
	.__0803270081 {
		position: absolute;
		overflow: visible;
		width: 130px;
		height: 130px;
		left: 150px;
		top: 27px;
	}
#__0803270081 {
		opacity: 1;
		fill: url(#__0803270081_A0_Rectangle_93_pattern);
	}
	.__0803270081 {
		position: absolute;
		overflow: visible;
		width: 130px;
		height: 130px;
		left: 150px;
		top: 27px;
	}
#____________ {
		opacity: 1;
		position: absolute;
		left: 310px;
		top: 71px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 190px;
		white-space: nowrap;
		line-height: 35px;
		margin-top: -8.5px;
		text-align: left;
		font-family: Koburina Gothic Std ;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.5px;
	}
#Rectangle_45 {
		opacity: 1;
		fill: rgba(252,102,234,1);
	}
	.Rectangle_45 {
		position: absolute;
		overflow: visible;
		width: 120px;
		height: 24px;
		left: 0px;
		top: 0px;
	}

#Rectangle_468 {
		opacity: 0.7933580279350281;
		fill: rgba(255,255,255,1);
	}
	.Rectangle_468 {
		position: absolute;
		overflow: visible;
		width: 1000px;
		height: 184px;
		left: 0px;
		top: 0px;
	}
#Line_20 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(237, 202, 202);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 3 6;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_20 {
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 1000px;
		height: 2px;
	}
#Line_21 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(237, 202, 202);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 3 6;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
#ID2019_2_15 {
		opacity: 1;
		position: absolute;
		left: 442px;
		top: 28px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 65px;
		white-space: nowrap;
		line-height: 25px;
		margin-top: -5.5px;
		text-align: left;
		font-family: Koburina Gothic Std ;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.5px;
	}

#ID2019_2_15 {
		opacity: 1;
		position: absolute;
		left: 442px;
		top: 28px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 65px;
		white-space: nowrap;
		line-height: 25px;
		margin-top: -5.5px;
		text-align: left;
		font-family: Koburina Gothic Std ;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.5px;
	}
#_100__________ {
		opacity: 1;
		position: absolute;
		left: 310px;
		top: 71px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		line-height: 35px;
		margin-top: -8.5px;
		text-align: left;
		font-family: Koburina Gothic Std ;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.5px;
	}

#_______________________________A0_Text_61 {
		opacity: 1;
		position: absolute;
		left: 310px;
		top: 109px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 540px;
		height: 46px;
		line-height: 25px;
		margin-top: -5.5px;
		text-align: left;
		font-family: Koburina Gothic Std ;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.5px;
	}
#_______2_A0_SymbolInstance_5 {
		opacity: 1;
		position: absolute;
		width: 94.454px;
		height: 20px;
		left: 746px;
		top: 29px;
		overflow: visible;
	}
#_______A0_Text_62 {
		opacity: 1;
		filter: drop-shadow(0px 0px 15px rgba(222, 227, 90, 0.686));
		position: absolute;
		left: 24.454px;
		top: 0px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -14.5px;
		text-align: center;
		font-family: Tsukushi B Round Gothic;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(82,82,82,1);
	}

#_______A0_Text_62 {
		opacity: 1;
		filter: drop-shadow(0px 0px 15px rgba(222, 227, 90, 0.686));
		position: absolute;
		left: 24.454px;
		top: 0px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -14.5px;
		text-align: center;
		font-family: Tsukushi B Round Gothic;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(82,82,82,1);
	}

#Path_48_A0_Path_85 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(82, 82, 82);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_48_A0_Path_85 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: -0.5px;
		left: 0px;
		width: 8.1641845703125px;
		height: 13.5px;
	}

#____A0_SymbolInstance_6 {
		opacity: 1;
		position: absolute;
		width: 120px;
		height: 24px;
		left: 310px;
		top: 26px;
		overflow: visible;
	}

#Rectangle_46 {
		opacity: 1;
		fill: rgba(119,232,145,1);
	}
	.Rectangle_46 {
		position: absolute;
		overflow: visible;
		width: 120px;
		height: 24px;
		left: 0px;
		top: 0px;
	}
#____A0_Text_63 {
		opacity: 1;
		position: absolute;
		left: 42px;
		top: 1px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 37px;
		white-space: nowrap;
		text-align: center;
		font-family: Koburina Gothic Std ;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}

#blog_sample01 {
		opacity: 1;
		fill: url(#blog_sample01_A0_Rectangle_97_pattern);
	}
	.blog_sample01 {
		position: absolute;
		overflow: visible;
		width: 130px;
		height: 130px;
		left: 150px;
		top: 27px;
	}
#Group_26 {
    opacity: 1;
    position: absolute;
    /* width: 93.454px; */
    /* height: 20px; */
    /* left: 1103px; */
    /* top: 1465px; */
    overflow: visible;
    margin: 400px 1000px 0;
}

#_____ {
		opacity: 1;
		filter: drop-shadow(0px 0px 15px rgba(222, 227, 90, 0.686));
		position: absolute;
		left: 25.454px;
		top: 0px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 69px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -14.5px;
		text-align: center;
		font-family: Tsukushi B Round Gothic;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(59,58,58,1);
	}

#Path_48_A0_Path_59 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(59, 58, 58);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_48_A0_Path_59 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 4.5px;
		left: 0px;
		width: 8.1641845703125px;
		height: 13.5px;
	}

	#Group_33 {
		opacity: 1;
		position: absolute;
		width: 314.527px;
		height: 100.664px;
		left: -13px;
		top: 1551.336px;
		overflow: visible;
	}

	#Group_32 {
		opacity: 1;
		position: absolute;
		width: 314.527px;
		height: 93.399px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}

	#Path_48_A0_Path_85 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(82, 82, 82);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_48_A0_Path_85 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 4.5px;
		left: 0px;
		width: 8.1641845703125px;
		height: 13.5px;
	}
	#Path_85 {
		opacity: 1;
		fill: rgba(255,226,106,0.639);
	}
	.Path_85 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 84.984130859375px;
		left: 158.03042602539062px;
		width: 14.96868896484375px;
		height: 15.679931640625px;
	}
#Path_86 {
		opacity: 1;
		fill: rgba(255,226,106,0.639);
	}
	.Path_86 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 5.9390869140625px;
		left: 0px;
		width: 314.52691650390625px;
		height: 87.4595947265625px;
	}
	#Path_87 {
		opacity: 1;
		fill: rgba(255,226,106,0.639);
	}
	.Path_87 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 67.4278564453125px;
		left: 244.19833374023438px;
		width: 16.19708251953125px;
		height: 17.513427734375px;
	}
	#Path_88 {
		opacity: 1;
		fill: rgba(255,226,106,0.639);
	}
	.Path_88 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 59.68701171875px;
		left: 152.19522094726562px;
		width: 10.381866455078125px;
		height: 20.7509765625px;
	}
	#Path_89 {
		opacity: 1;
		fill: rgba(255,226,106,0.639);
	}
	.Path_89 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 1.439453125px;
		left: 128.17724609375px;
		width: 12.54083251953125px;
		height: 25.7060546875px;
	}
	#Path_90 {
		opacity: 1;
		fill: rgba(255,226,106,0.639);
	}
	.Path_90 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 19.91162109375px;
		left: 222.19537353515625px;
		width: 19.46075439453125px;
		height: 11.3388671875px;
	}
	#Path_91 {
		opacity: 1;
		fill: rgba(255,226,106,0.639);
	}
	.Path_91 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 207.98654174804688px;
		width: 15.53387451171875px;
		height: 27.033935546875px;
	}

#Group_31 {
    opacity: 1;
    position: relative;
    width: 394.175px;
    height: 84.161px;
    left: 1155px;
    top: 530px;
    overflow: visible;
}

#Path_78 {
		opacity: 1;
		fill: rgba(255,226,106,0.639);
	}
	.Path_78 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 39.9599609375px;
		width: 354.214599609375px;
		height: 61.088623046875px;
	}
	#Path_79 {
		opacity: 1;
		fill: rgba(255,226,106,0.639);
	}
	.Path_79 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 4.693359375px;
		left: 77.255615234375px;
		width: 14.5723876953125px;
		height: 27.3720703125px;
	}
	#Path_80 {
		opacity: 1;
		fill: rgba(255,226,106,0.639);
	}
	.Path_80 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 4.819580078125px;
		left: 185.886474609375px;
		width: 19.66845703125px;
		height: 21.26904296875px;
	}
	#Path_81 {
		opacity: 1;
		fill: rgba(255,226,106,0.639);
	}
	.Path_81 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 52.0947265625px;
		left: 124.3419189453125px;
		width: 29.9033203125px;
		height: 10.6337890625px;
	}
	#Path_82 {
		opacity: 1;
		fill: rgba(255,226,106,0.639);
	}
	.Path_82 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 57.55322265625px;
		left: 149.5963134765625px;
		width: 11.0804443359375px;
		height: 26.60791015625px;
	}
	#Path_83 {
		opacity: 1;
		fill: rgba(255,226,106,0.639);
	}
	.Path_83 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 44.3115234375px;
		left: 31.1622314453125px;
		width: 18.1771240234375px;
		height: 19.041015625px;
	}
	#Path_84 {
		opacity: 1;
		fill: rgba(255,226,106,0.639);
	}
	.Path_84 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 31.2587890625px;
		left: 0px;
		width: 38.626708984375px;
		height: 20.18896484375px;
	}

#Path_12 {
		opacity: 1;
		fill: rgba(255,255,255,1);
	}
.Path_12 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: -150px;
    /* left: 126px; */
    width: 1147.91015625px;
    height: 537.5704345703125px;
}

#_____________________________ {
    opacity: 1;
    filter: drop-shadow(0px 0px 15px rgba(222, 227, 90, 0.686));
    position: absolute;
    left: 791px;
    top: -150px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 323px;
    height: 63px;
    line-height: 42px;
    margin-top: -10.5px;
    text-align: center;
    font-family: Tsukushi B Round Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: rgba(52,155,56,1);
    letter-spacing: 1px;
}

#____________A0_Text_25 {
    opacity: 1;
    filter: drop-shadow(0px 0px 15px rgba(222, 227, 90, 0.686));
    position: absolute;
    left: 178px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 289px;
    white-space: nowrap;
    line-height: 62px;
    margin-top: -15.5px;
    text-align: center;
    font-family: Tsukushi B Round Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    color: rgba(59,58,58,1);
    letter-spacing: 1px;
}
#_________ {
    opacity: 1;
    filter: drop-shadow(0px 0px 15px rgba(222, 227, 90, 0.686));
    position: absolute;
    left: 253px;
    top: 60px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 167px;
    white-space: nowrap;
    line-height: 44px;
    margin-top: -11px;
    text-align: center;
    font-family: Tsukushi B Round Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(59,58,58,1);
    letter-spacing: 1px;
}

#_______________________________A0_Text_27 {
    opacity: 1;
    filter: drop-shadow(0px 0px 15px rgba(222, 227, 90, 0.686));
    position: absolute;
    left: 156px;
    top: 130px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 406px;
    height: 192px;
    line-height: 25px;
    margin-top: -5.5px;
    text-align: left;
    font-family: Koburina Gothic Std;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.5px;
}

#sc_402384 {
		opacity: 1;
		fill: url(#sc_402384_A0_Rectangle_75_pattern);
	}
.sc_402384 {
    position: absolute;
    overflow: visible;
    width: 442px;
    height: 321px;
    left: 620px;
    top: -40px;
}


#Group_8 {
    opacity: 1;
    position: absolute;
    width: 259.193px;
    height: 68.299px;
    left: 226.434px;
    top: -170px;
    overflow: visible;
}


#Group_7 {
		opacity: 1;
		position: absolute;
		width: 259.193px;
		height: 68.299px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}

#Group_5 {
		opacity: 1;
		position: absolute;
		width: 56.053px;
		height: 48.723px;
		left: 0px;
		top: 19.376px;
		overflow: visible;
	}

#Path_7 {
		opacity: 1;
		fill: rgba(132,213,144,1);
	}
	.Path_7 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 56.05316162109375px;
		height: 48.72314453125px;
	}

#Path_9 {
		opacity: 1;
		fill: rgba(132,213,144,1);
	}
	.Path_9 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 19.5797119140625px;
		left: 203.13421630859375px;
		width: 56.05914306640625px;
		height: 48.7188720703125px;
	}


#Group_6 {
		opacity: 1;
		position: absolute;
		width: 199.359px;
		height: 15.04px;
		left: 29.916px;
		top: 45.8px;
		overflow: visible;
	}

#Path_8 {
		opacity: 1;
		fill: rgba(0,0,0,0.235);
	}
	.Path_8 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 26.136962890625px;
		height: 14.8365478515625px;
	}

#Path_10 {
		opacity: 1;
		fill: rgba(0,0,0,0.235);
	}
	.Path_10 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 0.1973876953125px;
		left: 173.218017578125px;
		width: 26.14093017578125px;
		height: 14.8427734375px;
	}

#Path_11 {
		opacity: 1;
		fill: rgba(132,213,144,1);
	}
	.Path_11 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 18.593017578125px;
		width: 221.934814453125px;
		height: 53.387451171875px;
	}

#pixta_40557744__L_05 {
		opacity: 1;
		fill: url(#pixta_40557744__L_05_A0_Rectangle_77_pattern);
	}
.pixta_40557744__L_05 {
    position: absolute;
    overflow: visible;
    width: 41px;
    height: 59px;
    left: 44px;
    top: 40px;
}

#pixta_40557744__L_02_A0_Rectangle_78 {
		opacity: 1;
		fill: url(#pixta_40557744__L_02_A0_Rectangle_79_pattern);
	}
.pixta_40557744__L_02_A0_Rectangle_78 {
    position: absolute;
    overflow: visible;
    width: 38px;
    height: 46.250244140625px;
    left: 26px;
    top: -50px;
}

#_______1_A0_SymbolInstance_2 {
    opacity: 1;
    position: absolute;
    width: 221px;
    height: 35px;
    left: 247px;
    top: 250px;
    overflow: visible;
}

#Rectangle_3_A0_Rectangle_80 {
		opacity: 1;
		fill: rgba(144,224,159,1);
	}
	.Rectangle_3_A0_Rectangle_80 {
		position: absolute;
		overflow: visible;
		width: 221px;
		height: 35px;
		left: 0px;
		top: 0px;
	}

#_______A0_Text_28 {
		opacity: 1;
		filter: drop-shadow(0px 0px 15px rgba(222, 227, 90, 0.686));
		position: absolute;
		left: 85.454px;
		top: 7px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -14.5px;
		text-align: center;
		font-family: Tsukushi B Round Gothic;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(255,255,255,1);
	}

#Path_48_A0_Path_38 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(255, 255, 255);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Path_48_A0_Path_38 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 11.5px;
		left: 50px;
		width: 8.1641845703125px;
		height: 13.5px;
	}

#Kodawari {
    opacity: 1;
    filter: drop-shadow(0px 0px 15px rgba(222, 227, 90, 0.686));
    position: absolute;
    left: 304.5px;
    top: -157px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 107px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -14px;
    text-align: center;
    font-family: Tsukushi B Round Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: 2.5px;
}

	#bird02 {
		opacity: 1;
		fill: url(#bird02_A0_Rectangle_82_pattern);
	}
	.bird02 {
		position: absolute;
		overflow: visible;
		width: 67px;
		height: 75px;
		left: 302px;
		top: 2397px;
	}

#Group_271 {
    /* opacity: 1; */
    /* position: absolute; */
    /* width: 1400px; */
    /* height: 206px; */
    /* left: 0px; */
    /* overflow: visible; */
	/* border: 1px solid #A1A1A1; */
    /* background: #E5E5E5; */
    /* background-color: rgba(255,248,198,1); */
    top: 0px;
    position: absolute;
    box-sizing: border-box;
    transform: translateX(-50%);
    left: 50%;    
    width: 1400px;
    height: 200px;
    overflow: hidden;
    opacity: 1;
}

	
	#Rectangle_41 {
		opacity: 1;
		fill: rgba(255,248,198,1);
	}
	.Rectangle_41 {
		position: absolute;
		overflow: visible;
		width: 1400px;
		height: 68px;
		left: 0px;
		top: 138px;
	}
	
	#Path_18 {
		opacity: 1;
		fill: rgba(255,255,255,1);
	}
	.Path_18 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 161.86090087890625px;
		left: 749.177978515625px;
		width: 84.084716796875px;
		height: 26.8067626953125px;
	}
	
	#commitmentTop {
		opacity: 1;
		position: absolute;
		left: 368px;
		top: 167px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 67px;
		white-space: nowrap;
		text-align: center;
		font-family: A P-OTF Shuei MaruGo Std;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(59,58,58,1);
	}
	#_____A4_Text_37 {
		opacity: 1;
		position: absolute;
		left: 514px;
		top: 167px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 45px;
		white-space: nowrap;
		text-align: center;
		font-family: A P-OTF Shuei MaruGo Std;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(59,58,58,1);
	}
	#_____A4_Text_38 {
		opacity: 1;
		position: absolute;
		left: 761px;
		top: 167px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		text-align: center;
		font-family: A P-OTF Shuei MaruGo Std;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(52,155,56,1);
	}
	#______A4_Text_39 {
		opacity: 1;
		position: absolute;
		left: 628px;
		top: 167px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		text-align: center;
		font-family: A P-OTF Shuei MaruGo Std;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(59,58,58,1);
	}
	#_____A4_Text_40 {
		opacity: 1;
		position: absolute;
		left: 985px;
		top: 167px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		text-align: center;
		font-family: A P-OTF Shuei MaruGo Std;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(59,58,58,1);
	}
	#____A4_Text_41 {
		opacity: 1;
		position: absolute;
		left: 886px;
		top: 167px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 35px;
		white-space: nowrap;
		text-align: center;
		font-family: A P-OTF Shuei MaruGo Std;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(59,58,58,1);
	}
	#Rectangle_28 {
		opacity: 1;
		fill: rgba(255,248,198,1);
	}
	.Rectangle_28 {
		position: absolute;
		overflow: visible;
		width: 1400px;
		height: 138px;
		left: 0px;
		top: 0px;
	}
	#ID53408 {
		opacity: 1;
		fill: url(#ID53408_A4_Rectangle_62_pattern);
	}
	.ID53408 {
		position: absolute;
		overflow: visible;
		width: 133.682861328125px;
		height: 44.30137634277344px;
		left: 1065px;
		top: 34px;
	}
	#_______A4_Text_42 {
		opacity: 1;
		position: absolute;
		left: 1089px;
		top: 45px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 87px;
		white-space: nowrap;
		text-align: center;
		font-family: A P-OTF Shuei MaruGo Std;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(13,125,255,1);
	}
	#Group_3 {
		opacity: 1;
		position: absolute;
		width: 243.252px;
		height: 51.201px;
		left: 578px;
		top: 43px;
		overflow: visible;
	}
	#_____A4_Text_43 {
		opacity: 1;
		position: absolute;
		left: 107.252px;
		top: 5px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 137px;
		white-space: nowrap;
		text-align: center;
		font-family: A-OTF Gothic MB101 Pr5;
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		color: rgba(59,58,58,1);
		letter-spacing: 0.5px;
	}
	#______A4_Text_44 {
		opacity: 1;
		position: absolute;
		left: 70.336px;
		top: 11.326px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 29px;
		white-space: nowrap;
		line-height: 16px;
		margin-top: -1px;
		text-align: center;
		font-family: A-OTF Gothic MB101 Pr5;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(59,58,58,1);
		letter-spacing: 0.7px;
	}
	#Group_2_A4_Group_20 {
		opacity: 1;
		position: absolute;
		width: 54.538px;
		height: 51.201px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_2_A4_Path_52 {
		opacity: 1;
		fill: rgba(63,139,57,1);
	}
	.Path_2_A4_Path_52 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 43.45661163330078px;
		left: 0.0419921875px;
		width: 54.469970703125px;
		height: 7.7440643310546875px;
	}
	#Group_1_A4_Group_21 {
		opacity: 1;
		position: absolute;
		width: 54.538px;
		height: 40.983px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_3_A4_Path_53 {
		opacity: 1;
		fill: rgba(63,139,57,1);
	}
	.Path_3_A4_Path_53 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 15.1689453125px;
		width: 30.993896484375px;
		height: 19.741775512695312px;
	}
	#Path_4_A4_Path_54 {
		opacity: 1;
		fill: rgba(63,139,57,1);
	}
	.Path_4_A4_Path_54 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 8.747756958007812px;
		left: 0px;
		width: 9.0546875px;
		height: 32.23490905761719px;
	}
	#Path_5_A4_Path_55 {
		opacity: 1;
		fill: rgba(63,139,57,1);
	}
	.Path_5_A4_Path_55 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 12.779647827148438px;
		left: 23.4423828125px;
		width: 31.095947265625px;
		height: 28.090309143066406px;
	}
	#Path_6_A4_Path_56 {
		opacity: 1;
		fill: rgba(63,139,57,1);
	}
	.Path_6_A4_Path_56 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 25.686111450195312px;
		left: 15.166015625px;
		width: 27.125px;
		height: 15.296546936035156px;
	}
	#solarcircuitlogo {
		opacity: 1;
		position: absolute;
		width: 132.085px;
		height: 82.12px;
		left: 200px;
		top: 34px;
		overflow: visible;
	}
	#Path_13 {
		opacity: 1;
		fill: rgba(206,218,0,1);
	}
	.Path_13 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 26.51708984375px;
		width: 76.08837890625px;
		height: 82.11963653564453px;
	}
	#Path_14 {
		opacity: 1;
		fill: rgba(0,91,171,1);
	}
	.Path_14 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 31.641616821289062px;
		left: 0px;
		width: 132.084716796875px;
		height: 23.722373962402344px;
	}
	#Path_15 {
		opacity: 1;
		fill: rgba(0,91,171,1);
	}
	.Path_15 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 19.039794921875px;
		left: 2.78125px;
		width: 115.308837890625px;
		height: 36.408203125px;
	}
	#Path_16 {
		opacity: 1;
		fill: rgba(0,91,171,1);
	}
	.Path_16 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 18.067031860351562px;
		left: 10.72265625px;
		width: 54.546142578125px;
		height: 10.315811157226562px;
	}
	#Path_17 {
		opacity: 1;
		fill: rgba(0,91,171,1);
	}
	.Path_17 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 17.91668701171875px;
		left: 0px;
		width: 65.32177734375px;
		height: 9.736557006835938px;
	}
	#Group_39 {
		opacity: 1;
		position: absolute;
		width: 22.041px;
		height: 22.041px;
		left: 1176.298px;
		top: 88.433px;
		overflow: visible;
	}
	#Path_103 {
		opacity: 1;
		fill: rgba(0,82,161,1);
	}
	.Path_103 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 22.041015625px;
		height: 22.04094696044922px;
	}
	#f {
		opacity: 1;
		fill: rgba(255,255,255,1);
	}
	.f {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 3.3287811279296875px;
		left: 8.9111328125px;
		width: 9.70751953125px;
		height: 18.712127685546875px;
	}
	#_____A4_Text_45 {
		opacity: 1;
		position: absolute;
		left: 994px;
		top: 91.751px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: center;
		font-family: A P-OTF Shuei MaruGo Std;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(59,58,58,1);
	}
	#________A4_Text_46 {
		opacity: 1;
		position: absolute;
		left: 1075px;
		top: 91.751px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 69px;
		white-space: nowrap;
		text-align: center;
		font-family: A P-OTF Shuei MaruGo Std;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(59,58,58,1);
	}
	#ID0957_43_2887_A4_Text_47 {
		opacity: 1;
		position: absolute;
		left: 885px;
		top: 35px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 165px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(52,155,56,1);
		letter-spacing: 0.3px;
	}
	#________8_00_19_00 {
		opacity: 1;
		position: absolute;
		left: 883px;
		top: 64px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 168px;
		white-space: nowrap;
		text-align: left;
		font-family: Koburina Gothic Std ;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(59,58,58,1);
		letter-spacing: 0.1px;
	}
	