@charset "utf-8";


.entry-column .formTbl .acms-admin-form-checkbox,
.entry-column .formTbl .acms-admin-form-radio{
	margin-left:25px;
	margin-right:0;
	margin-bottom:10px;
	text-indent:-25px;
	}
.entry-column .formTbl .acms-admin-form-checkbox input,
.entry-column .formTbl .acms-admin-form-radio input{ margin-bottom:0!important; }


@media screen and (max-width:750px){
}


/*  体験するインデックス
==================================*/


.r-experience.showroom_modelhouse .cateIndex h2,
.r-experience.tour .cateIndex h2,
.r-experience.consult .cateIndex h2 {
    border-bottom: solid 1px #aaa;
    font-size: 32px;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

@media screen and (max-width:750px){

.r-experience.showroom_modelhouse .cateIndex h2,
.r-experience.tour .cateIndex h2,
.r-experience.consult .cateIndex h2 {
    border-bottom: solid 1px #aaa;
    font-size: 18px;
    margin-bottom: 5.084%;
    padding-bottom: 5.084%;
}

}


/*  ショールーム・モデルハウス
==================================*/
.showroom_modelhouse .pageTtl{ letter-spacing:.01em; }
.showroom_modelhouse .entry-column h3 {margin-top:140px;}
	.showroom_modelhouse .entry-column h3:first-child { margin-top:0; }
	.showroom_modelhouse .entry-column h3 span { font-size:22px; }
.showroom_modelhouse .entry-column .ttl{
	margin-bottom:20px;
	font-family:"リュウミン B-KL";
	font-size:18px;
	line-height:1.4;
	}

.showroom_modelhouse .entry-column .telNum{
	background:url(../img/common/ico_tel.png) no-repeat left center;
	background-size:40px auto;
	margin-bottom:5px;
	padding-left:50px;
	font-size:44px;
	line-height:1;
	}
.showroom_modelhouse .entry-column .telNum span{
	font-size:18px;
	line-height:1;
	}
.showroom_modelhouse .entry-column .caption{ font-size:14px; }

.showroom_modelhouse .entry-column a.lnkBtn.iMail{ letter-spacing:-0.02em; }

.showroom_modelhouse .acms-admin-form-error {
	background:#ffcdcd;
	border-color:#ffcdcd;
	color:#000;
	-webkit-text-stroke: 0.2px #000;
	}
.showroom_modelhouse .acms-admin-form-checkbox input,
.showroom_modelhouse .acms-admin-form-radio input {
	position:relative;
	margin-left:-12px;
	}
.showroom_modelhouse .entry-column .formTbl{ margin-bottom:50px; }
.showroom_modelhouse .entry-column .formTbl .acms-admin-form-radio{ padding:0; }
.showroom_modelhouse .entry-column .formTbl input,
.showroom_modelhouse .entry-column .formTbl select,
.showroom_modelhouse .entry-column .formTbl textarea{
	border:none;
	padding:10px;
	margin-bottom:15px;
	}
.showroom_modelhouse .entry-column .formTbl label{ line-height:1.4; }
.showroom_modelhouse .entry-column .formTbl .required{
	background:#ca2828;
	padding:3px 5px;
	font-size:12px;
	color:#fff;
	-webkit-text-stroke: 0.2px #fff;
	}
.showroom_modelhouse .entry-column .formTbl dl{
	border-bottom:solid 1px #ccc;
	padding:20px 0 5px;
	font-size:0;
	}
.showroom_modelhouse .entry-column .formTbl dl:first-child{
	border-top:solid 1px #ccc;
	}
	.showroom_modelhouse .entry-column .formTbl dt{
		display:inline-block;
		width:175px;
		vertical-align:top;
		font-family:"リュウミン B-KL";
		font-size:16px;
		}
	.showroom_modelhouse .entry-column .formTbl dd{
		display:inline-block;
		width:475px;
		margin-left:150px;
		vertical-align:top;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
		}
	.showroom_modelhouse .entry-column .formTbl dd span.fst{
		display:inline-block;
		width:135px;
		margin-left:-150px;
		padding-right:15px;
		text-align:right;
		}
	.showroom_modelhouse .entry-column .formTbl dd span.scd{
		display:inline-block;
		width:55px;
		padding-right:15px;
		text-align:right;
		}
	.showroom_modelhouse .entry-column .formTbl dd span.caption{
		display:inline-block;
		margin-bottom:15px;
		}
	.showroom_modelhouse .entry-column .formTbl.confirm dl{ padding:20px 0; }

	.showroom_modelhouse .entry-column .formTbl .pPolicy{
		margin-top:15px;
		text-align:center;
		}
	.showroom_modelhouse .entry-column .formTbl p.acms-admin-text-error,
	.showroom_modelhouse .entry-column .formTbl p.acms-admin-text-error span{
		margin:0;
		color:#c00;
		-webkit-text-stroke: 0.2px #c00;
		}

	.showroom_modelhouse .entry-column .formBtnWrap{
		text-align:center;
		font-size:0;
		}
	.showroom_modelhouse .entry-column .formBtnWrap form{
		display:inline-block;
		border:none;
		margin:0 20px;
		}
	.showroom_modelhouse .entry-column #btnConfirm,
	.showroom_modelhouse .entry-column #btnToInput,
	.showroom_modelhouse .entry-column #btnSubmit{
		display:inline-block;
		border:none;
		background:#04386e;
		margin-top:7px;
		padding:15px 20px;
		font-family:"リュウミン R-KL";
		font-size:16px;
		color:#fff;
		-webkit-text-stroke: 0.2px #fff;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
		}
		.showroom_modelhouse .entry-column #btnConfirm:hover{ opacity:.7; }


@media screen and (max-width:750px){
.showroom_modelhouse .pageTtl{ letter-spacing:.01em; }
.showroom_modelhouse .entry-column h3 {margin-top:27.119%;}
	.showroom_modelhouse .entry-column h3:first-child { margin-top:0; }
	.showroom_modelhouse .entry-column h3 span { font-size:16px; }
.showroom_modelhouse .entry-column .ttl{
	margin-bottom:5.084%;
	font-family:"リュウミン B-KL";
	font-size:15px;
	line-height:1.4;
	}

.showroom_modelhouse .entry-column .column-image-auto,
.showroom_modelhouse .entry-column .column-image-right{
	margin-bottom:5.084%;
	}
.showroom_modelhouse .entry-column p{
	margin-bottom:5.084%;
	}
.showroom_modelhouse .entry-column p .sp_span{ display:block; }

.showroom_modelhouse .entry-column a.lnkTxt{ margin-top: 8.474%; }
.showroom_modelhouse .entry-column .VirtualWrap{
	width:127.118%;
	height:0;
	padding-top:68.305%;
	position:relative;
	margin-left:-13.559%;
	}
.showroom_modelhouse .entry-column .VirtualWrap iframe{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	}

.showroom_modelhouse .entry-column .telNum{
	background:url(../img/common/ico_tel.png) no-repeat left center;
	background-size:12.203% auto;
	margin-bottom:5px;
	padding-left:12.203%;
	font-size:32px;
	line-height:1;
	}
.showroom_modelhouse .entry-column .telNum span{
	font-size:18px;
	line-height:1;
	}
.showroom_modelhouse .entry-column .caption{ font-size:12px; }

.showroom_modelhouse .entry-column a.lnkBtn.iMail{ letter-spacing:-0.02em; text-align:left; line-height:1.2; }

.showroom_modelhouse .acms-admin-form-error {
	background:#ffcdcd;
	border-color:#ffcdcd;
	color:#000;
	-webkit-text-stroke: 0.2px #000;
	}
.showroom_modelhouse .acms-admin-form-checkbox input,
.showroom_modelhouse .acms-admin-form-radio input {
	position:relative;
	margin-left:-12px;
	}
.showroom_modelhouse .entry-column .formTbl{ margin-bottom:8.955%; }
.showroom_modelhouse .entry-column .formTbl .acms-admin-form-radio{ padding:0; }
.showroom_modelhouse .entry-column .formTbl input,
.showroom_modelhouse .entry-column .formTbl select,
.showroom_modelhouse .entry-column .formTbl textarea{
	border:none;
	padding:10px;
	margin-bottom:15px;
	}
.showroom_modelhouse .entry-column .formTbl label{ line-height:1.4; }
.showroom_modelhouse .entry-column .formTbl .required{ font-size:11px; }
.showroom_modelhouse .entry-column .formTbl dl{ padding:20px 0 5px; }
.showroom_modelhouse .entry-column .formTbl dl:first-child{ }
	.showroom_modelhouse .entry-column .formTbl dt{
		display:block;
		width:100%;
		margin-bottom:4.478%;
		font-size:14px;
		}
	.showroom_modelhouse .entry-column .formTbl dd{
		display:block;
		width:100%;
		margin-left:0;
		vertical-align:top;
		}
	.showroom_modelhouse .entry-column .formTbl dd span.fst{
		display:inline-block;
		width:auto;
		margin-left:0;
		padding-right:15px;
		text-align:left;
		}
	.showroom_modelhouse .entry-column .formTbl dd span.scd{
		display:inline-block;
		width:auto;
		padding-right:15px;
		text-align:left;
		}
	.showroom_modelhouse .entry-column .formTbl dd span.caption{
		display:inline-block;
		margin-bottom:15px;
		font-size:12px;
		}
	.showroom_modelhouse .entry-column .formTbl.confirm dl{ padding:20px 0; }

	.showroom_modelhouse .entry-column .formTbl .pPolicy{
		margin-top:2.239%;
		text-align:left;
		}
	.showroom_modelhouse .entry-column .formTbl p.acms-admin-text-error,
	.showroom_modelhouse .entry-column .formTbl p.acms-admin-text-error span{ }

	.showroom_modelhouse .entry-column .formBtnWrap{
		text-align:center;
		font-size:0;
		}
	.showroom_modelhouse .entry-column .formBtnWrap form{
		display:inline-block;
		border:none;
		margin:0 20px;
		}
	.showroom_modelhouse .entry-column #btnConfirm,
	.showroom_modelhouse .entry-column #btnToInput,
	.showroom_modelhouse .entry-column #btnSubmit{
		padding:15px 20px 15px;
		font-size:14px;
		letter-spacing:-0.04em;
		}
		.showroom_modelhouse .entry-column #btnConfirm:hover{ opacity:1; }
					
.showroom_modelhouse .entry-column .formTbl input#name01,
.showroom_modelhouse .entry-column .formTbl input#name02,
.showroom_modelhouse .entry-column .formTbl input#kana01,
.showroom_modelhouse .entry-column .formTbl input#kana02{
	width:70%;
	max-width:none;
	}

}


/*  見学会・家づくりセミナー
==================================*/
.tour .pageTtl{ letter-spacing:.01em; }
.tour .entry-column h3 { margin-top:140px; }
	.tour .entry-column h3:first-child { margin-top:0; }
	.tour .entry-column h3 span { font-size:22px; }
	.tour .entry-column h4{
		margin-bottom:20px;
		font-size:22px;
		color:#04386e;
		-webkit-text-stroke: 0.2px #04386e;
		line-height:1.4;
		}
.tour .entry-column .ttl{
	margin-bottom:20px;
	font-family:"リュウミン B-KL";
	font-size:18px;
	line-height:1.4;
	}

.tour .entry-column .telNum{
	background:url(../img/common/ico_tel.png) no-repeat left center;
	background-size:40px auto;
	margin-bottom:5px;
	padding-left:50px;
	font-size:44px;
	line-height:1;
	}
.tour .entry-column .telNum span{
	font-size:18px;
	line-height:1;
	}
.tour .entry-column .caption{ font-size:14px; }

.tour .entry-column a.lnkBtn.iMail{ letter-spacing:-0.02em; }
.tour .entry-column .eventDate{
	display:inline-block;
	margin:15px 0 20px;
	}

.tour .entry-column .listNum{
	float:left;
	display:inline-block;
	background:#04386e;
	width:22px;
	height:22px;
	margin-top:8px;
	margin-right:0;
	padding-top:0;
	font-size:13px;
	color:#fff;
	-webkit-text-stroke: 0.2px #fff;
	line-height:22px;
	text-align:center;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	box-sizing:border-box;
	}
.tour .entry-column .listTxt{
	display:inline-block;
	width:350px;
	margin-top:5px;
	margin-left:5px;
	}

.tour .acms-admin-form-error {
	background:#ffcdcd;
	border-color:#ffcdcd;
	color:#000;
	-webkit-text-stroke: 0.2px #000;
	}
.tour .acms-admin-form-checkbox input,
.tour .acms-admin-form-radio input {
	position:relative;
	margin-left:-12px;
	}
.tour .entry-column .formTbl{ margin-bottom:50px; }
.tour .entry-column .formTbl .acms-admin-form-radio{ padding:0; }
.tour .entry-column .formTbl input,
.tour .entry-column .formTbl select,
.tour .entry-column .formTbl textarea{
	border:none;
	padding:10px;
	margin-bottom:15px;
	}
.tour .entry-column .formTbl label{ line-height:1.4; }
.tour .entry-column .formTbl .required{
	background:#ca2828;
	padding:3px 5px;
	font-size:12px;
	color:#fff;
	white-space:nowrap;
	-webkit-text-stroke: 0.2px #fff;
	}
.tour .entry-column .formTbl dl{
	border-bottom:solid 1px #ccc;
	padding:20px 0 5px;
	font-size:0;
	}
.tour .entry-column .formTbl dl:first-child{
	border-top:solid 1px #ccc;
	}
	.tour .entry-column .formTbl dt{
		display:inline-block;
		width:175px;
		vertical-align:top;
		font-family:"リュウミン B-KL";
		font-size:16px;
		}
	.tour .entry-column .formTbl dd{
		display:inline-block;
		width:475px;
		margin-left:150px;
		vertical-align:top;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
		}
	.tour .entry-column .formTbl dd span.fst{
		display:inline-block;
		width:135px;
		margin-left:-150px;
		padding-right:15px;
		text-align:right;
		}
	.tour .entry-column .formTbl dd span.scd{
		display:inline-block;
		width:55px;
		padding-right:15px;
		text-align:right;
		}
	.tour .entry-column .formTbl dd span.caption{
		display:inline-block;
		margin-bottom:15px;
		}
	.tour .entry-column .formTbl.confirm dl{ padding:20px 0; }

	.tour .entry-column .formTbl .pPolicy{
		margin-top:15px;
		text-align:center;
		}
	.tour .entry-column .formTbl p.acms-admin-text-error,
	.tour .entry-column .formTbl p.acms-admin-text-error span{
		margin:0;
		color:#c00;
		-webkit-text-stroke: 0.2px #c00;
		}

	.tour .entry-column .formBtnWrap{
		text-align:center;
		font-size:0;
		}
	.tour .entry-column .formBtnWrap form{
		display:inline-block;
		border:none;
		margin:0 20px;
		}
	.tour .entry-column #btnConfirm,
	.tour .entry-column #btnToInput,
	.tour .entry-column #btnSubmit{
		display:inline-block;
		border:none;
		background:#04386e;
		margin-top:7px;
		padding:15px 20px;
		font-family:"リュウミン R-KL";
		font-size:16px;
		color:#fff;
		-webkit-text-stroke: 0.2px #fff;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
		}
		.tour .entry-column #btnConfirm:hover{ opacity:.7; }



@media screen and (max-width:750px){


.tour .pageTtl{ letter-spacing:.01em; }
.tour .entry-column h3 { margin-top:27.119%; }
	.tour .entry-column h3:first-child { margin-top:0; }
	.tour .entry-column h3 span { font-size:22px; }
	.tour .entry-column h4{
		margin-bottom:5.084%;
		font-size:20px;
		color:#04386e;
		-webkit-text-stroke: 0.2px #04386e;
		line-height:1.4;
		}
	.tour.seminar .entry-column h4{
		padding-top:10.169%;
		}
.tour .entry-column .ttl{
	margin-bottom:5.084%;
	font-family:"リュウミン B-KL";
	font-size:15px;
	line-height:1.4;
	}

.tour .entry-column .column-image-auto,
.tour .entry-column .column-image-right,
.tour .entry-column .column-image-left{
	margin-bottom:5.084%;
	}

.tour .entry-column p{
	margin-bottom:5.084%;
	}
.tour .entry-column p .sp_span{
	display:block;
	}

.tour .entry-column a.lnkTxt{
    margin-top: 8.474%;
	}

.tour .entry-column .telNum{
	background:url(../img/common/ico_tel.png) no-repeat left center;
	background-size:12.203% auto;
	margin-bottom:5px;
	padding-left:12.203%;
	font-size:32px;
	line-height:1;
	}
.tour .entry-column .telNum span{
	font-size:18px;
	line-height:1;
	}
.tour .entry-column .caption{ font-size:12px; }

.tour .entry-column a.lnkBtn{ letter-spacing:-0.02em; text-align:left; line-height:1.2; }
.tour .entry-column .eventDate{
	display:inline-block;
	margin:15px 0 20px;
	}

.tour .entry-column .listNum{
	float:left;
	display:inline-block;
	background:#04386e;
	width:22px;
	height:22px;
	margin-top:8px;
	margin-right:0;
	padding-top:0;
	font-size:13px;
	color:#fff;
	-webkit-text-stroke: 0.2px #fff;
	line-height:22px;
	text-align:center;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	box-sizing:border-box;
	}
.tour .entry-column .listTxt{
	display:inline-block;
	width:89.83%;
	margin-top:5px;
	margin-left:5px;
	line-height:1.5;
	}

.tour .acms-admin-form-error {
	background:#ffcdcd;
	border-color:#ffcdcd;
	color:#000;
	-webkit-text-stroke: 0.2px #000;
	}
.tour .acms-admin-form-checkbox input,
.tour .acms-admin-form-radio input {
	position:relative;
	margin-left:-12px;
	}
.tour .entry-column .formTbl{ margin-bottom:8.955%; }
.tour .entry-column .formTbl .acms-admin-form-radio{ padding:0; }
.tour .entry-column .formTbl input,
.tour .entry-column .formTbl select,
.tour .entry-column .formTbl textarea{
	border:none;
	padding:10px;
	margin-bottom:15px;
	}
.tour .entry-column .formTbl label{ line-height:1.4; }
.tour .entry-column .formTbl .required{ font-size:11px; }
.tour .entry-column .formTbl dl{ padding:20px 0 5px; }
.tour .entry-column .formTbl dl:first-child{ }
	.tour .entry-column .formTbl dt{
		display:block;
		width:100%;
		margin-bottom:4.478%;
		font-size:14px;
		}
	.tour .entry-column .formTbl dd{
		display:block;
		width:100%;
		margin-left:0;
		vertical-align:top;
		}
	.tour .entry-column .formTbl dd span.fst{
		display:inline-block;
		width:auto;
		margin-left:0;
		padding-right:15px;
		text-align:left;
		}
	.tour .entry-column .formTbl dd span.scd{
		display:inline-block;
		width:auto;
		padding-right:15px;
		text-align:left;
		}
	.tour .entry-column .formTbl dd span.caption{
		display:inline-block;
		margin-bottom:15px;
		font-size:12px;
		}
	.tour .entry-column .formTbl.confirm dl{ padding:20px 0; }

	.tour .entry-column .formTbl .pPolicy{
		margin-top:2.239%;
		text-align:left;
		}
	.tour .entry-column .formTbl p.acms-admin-text-error,
	.tour .entry-column .formTbl p.acms-admin-text-error span{ }

	.tour .entry-column .formBtnWrap{
		text-align:center;
		font-size:0;
		}
	.tour .entry-column .formBtnWrap form{
		display:inline-block;
		border:none;
		margin:0 20px;
		}
	.tour .entry-column #btnConfirm,
	.tour .entry-column #btnToInput,
	.tour .entry-column #btnSubmit{
		padding:15px 20px 15px;
		font-size:14px;
		letter-spacing:-0.04em;
		}
		.tour .entry-column #btnConfirm:hover{ opacity:1; }
					
.tour .entry-column .formTbl input#name01,
.tour .entry-column .formTbl input#name02,
.tour .entry-column .formTbl input#kana01,
.tour .entry-column .formTbl input#kana02{
	width:70%;
	max-width:none;
	}


}


/*  参加特典 | 世界で一つだけの家づくりノート
==================================*/

	.tour.gift .entry-column h4{
		margin-bottom:40px;
		color:#000;
		-webkit-text-stroke: 0.2px #000;
		}
	.tour.gift .entry-column h5{
		margin-bottom:10px;
		font-size:22px;
		color:#04386e;
		-webkit-text-stroke: 0.2px #04386e;
		line-height:1.4;
		}
		.tour.gift .entry-column h5 .stepNum{
			float:left;
			display:block;
			background:#04386e;
			width:60px;
			height:60px;
			margin-top:-3px;
			margin-right:10px;
			margin-bottom:0;
			padding-top:5px;
			font-size:20px;
			color:#fff;
			-webkit-text-stroke: 0.2px #fff;
			line-height:.8;
			text-align:center;
			-webkit-border-radius:50%;
			-moz-border-radius:50%;
			border-radius:50%;
			box-sizing:border-box;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
			}
		.tour.gift .entry-column h5 .stepNum span{
			display:block;
			font-size:30px;
			color:#fff;
			line-height:1;
			-webkit-text-stroke: 0.2px #fff;
			}
	.tour.gift .entry-column .ttlBox{
		background:#999;
		padding:8px 10px;
		font-size:15px;
		color:#fff;
		-webkit-text-stroke: 0.2px #fff;
		line-height:1.4;
		}
	.tour.gift .entry-column .pointLst{
		margin:-15px 20px 0;
		line-height:1.4;
		list-style-type:disc;
		}
		.tour.gift .entry-column .pointLst li{
			margin-bottom:10px;
			margin-left:20px
			}
		.tour.gift .entry-column .pointLst.column3 li{
			float:left;
			width:26.5%;
			margin-bottom:10px;
			margin-right:5px;
			}


@media screen and (max-width:750px){

	.tour.gift .entry-column h4{
		padding-top:15.254%;
		margin-bottom:5.084%;
		color:#000;
		-webkit-text-stroke: 0.2px #000;
		font-size:22px;
		}
	.tour.gift .entry-column h5{
		margin-bottom:5.084%;
		font-size:18px;
		color:#04386e;
		-webkit-text-stroke: 0.2px #04386e;
		line-height:1.4;
		}
		.tour.gift .entry-column h5 .stepNum{
			float:left;
			display:block;
			background:#04386e;
			width:55px;
			height:55px;
			margin-top:-3px;
			margin-right:10px;
			margin-bottom:0;
			padding-top:10px;
			font-size:18px;
			color:#fff;
			-webkit-text-stroke: 0.2px #fff;
			line-height:.8;
			text-align:center;
			-webkit-border-radius:50%;
			-moz-border-radius:50%;
			border-radius:50%;
			box-sizing:border-box;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
			}
		.tour.gift .entry-column h5 .stepNum span{
			display:block;
			font-size:24px;
			color:#fff;
			line-height:1;
			-webkit-text-stroke: 0.2px #fff;
			}
	.tour.gift .entry-column .ttlBox{
		background:#999;
		padding:8px 10px;
		font-size:15px;
		color:#fff;
		-webkit-text-stroke: 0.2px #fff;
		line-height:1.4;
		}
	.tour.gift .entry-column .pointLst{
		margin:0 0 0;
		line-height:1.4;
		list-style-type:disc;
		}
		.tour.gift .entry-column .pointLst li{
			margin-bottom:10px;
			margin-left:3.389%
			}
		.tour.gift .entry-column .pointLst.column3 li{
			float:left;
			width:28.135%;
			margin-bottom:10px;
			margin-right:1.694%;
			}

}


/*  無料相談会
==================================*/
.consult .pageTtl{ letter-spacing:.01em; }
.consult .entryHeader{ display:none; }
.consult .entry-column h3 { margin-top:140px; }
	.consult .entry-column h3:first-child { margin-top:0; }
	.consult .entry-column h3 span { font-size:22px; }
.consult .entry-column .ttl{
	margin-bottom:20px;
	font-family:"リュウミン B-KL";
	font-size:18px;
	line-height:1.4;
	}

.consult .entry-column .telNum{
	background:url(../img/common/ico_tel.png) no-repeat left center;
	background-size:40px auto;
	margin-bottom:5px;
	padding-left:50px;
	font-size:44px;
	line-height:1;
	}
.consult .entry-column .telNum span{
	font-size:18px;
	line-height:1;
	}
.consult .entry-column .caption{ font-size:14px; }

.consult .entry-column a.lnkBtn.iMail{ letter-spacing:-0.02em; }
.consult .entry-column .acms-col-sm-6 p{ margin-bottom:10px; }
.consult .entry-column .lnkTxt{ margin-top:10px; }

.consult .acms-admin-form-error {
	background:#ffcdcd;
	border-color:#ffcdcd;
	color:#000;
	-webkit-text-stroke: 0.2px #000;
	}
.consult .acms-admin-form-checkbox input,
.consult .acms-admin-form-radio input {
	position:relative;
	margin-left:-12px;
	}
.consult .entry-column .formTbl{ margin-bottom:50px; }
.consult .entry-column .formTbl .acms-admin-form-radio{ padding:0; }
.consult .entry-column .formTbl input,
.consult .entry-column .formTbl select,
.consult .entry-column .formTbl textarea{
	border:none;
	padding:10px;
	margin-bottom:15px;
	}
.consult .entry-column .formTbl label{ line-height:1.4; }
.consult .entry-column .formTbl .required{
	background:#ca2828;
	padding:3px 5px;
	font-size:12px;
	color:#fff;
	white-space:nowrap;
	-webkit-text-stroke: 0.2px #fff;
	}
.consult .entry-column .formTbl dl{
	border-bottom:solid 1px #ccc;
	padding:20px 0 5px;
	font-size:0;
	}
.consult .entry-column .formTbl dl:first-child{
	border-top:solid 1px #ccc;
	}
	.consult .entry-column .formTbl dt{
		display:inline-block;
		width:175px;
		vertical-align:top;
		font-family:"リュウミン B-KL";
		font-size:16px;
		}
	.consult .entry-column .formTbl dd{
		display:inline-block;
		width:475px;
		margin-left:150px;
		vertical-align:top;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
		}
	.consult .entry-column .formTbl dd span.fst{
		display:inline-block;
		width:135px;
		margin-left:-150px;
		padding-right:15px;
		text-align:right;
		}
	.consult .entry-column .formTbl dd span.scd{
		display:inline-block;
		width:55px;
		padding-right:15px;
		text-align:right;
		}
	.consult .entry-column .formTbl dd span.caption{
		display:inline-block;
		margin-bottom:15px;
		}
	.consult .entry-column .formTbl.confirm dl{ padding:20px 0; }

	.consult .entry-column .formTbl .pPolicy{
		margin-top:15px;
		text-align:center;
		}
	.consult .entry-column .formTbl p.acms-admin-text-error,
	.consult .entry-column .formTbl p.acms-admin-text-error span{
		margin:0;
		color:#c00;
		-webkit-text-stroke: 0.2px #c00;
		}

	.consult .entry-column .formBtnWrap{
		text-align:center;
		font-size:0;
		}
	.consult .entry-column .formBtnWrap form{
		display:inline-block;
		border:none;
		margin:0 20px;
		}
	.consult .entry-column #btnConfirm,
	.consult .entry-column #btnToInput,
	.consult .entry-column #btnSubmit{
		display:inline-block;
		border:none;
		background:#04386e;
		margin-top:7px;
		padding:15px 20px;
		font-family:"リュウミン R-KL";
		font-size:16px;
		color:#fff;
		-webkit-text-stroke: 0.2px #fff;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
		}
		.consult .entry-column #btnConfirm:hover{ opacity:.7; }

@media screen and (max-width:750px){

.consult .pageTtl{ letter-spacing:.01em; }
.consult .entryHeader{ display:none; }
.consult .entry-column h3 { margin-top:27.119%; }
	.consult .entry-column h3:first-child { margin-top:0; }
	.consult .entry-column h3 span { font-size:22px; }
.consult .entry-column .ttl{
	margin-bottom:5.084%;
	font-family:"リュウミン B-KL";
	font-size:15px;
	line-height:1.2;
	}

.consult .entry-column .column-image-auto,
.consult .entry-column .column-image-right{ margin-bottom:5.084%; }
.consult .entry-column p{ margin-bottom:5.084%; }
.consult .entry-column p .sp_span{ display:block; }

.consult .entry-column a.lnkTxt{ margin-top: 8.474%; }

.consult .entry-column .telNum{
	background:url(../img/common/ico_tel.png) no-repeat left center;
	background-size:12.203% auto;
	margin-bottom:5px;
	padding-left:12.203%;
	font-size:32px;
	line-height:1;
	}
.consult .entry-column .telNum span{
	font-size:18px;
	line-height:1;
	}
.consult .entry-column .caption{ font-size:12px; margin-bottom:5.084%; }

.consult .entry-column a.lnkBtn.iMail{ letter-spacing:-0.02em; text-align:left; line-height:1.2; }
.consult .entry-column .acms-col-sm-6 p{ margin-bottom:10px; }
.consult .entry-column .lnkTxt{ margin-top:10px; }

.consult .acms-admin-form-error {
	background:#ffcdcd;
	border-color:#ffcdcd;
	color:#000;
	-webkit-text-stroke: 0.2px #000;
	}
.consult .acms-admin-form-checkbox input,
.consult .acms-admin-form-radio input {
	position:relative;
	margin-left:-12px;
	}
.consult .entry-column .formTbl{ margin-bottom:8.955%; }
.consult .entry-column .formTbl .acms-admin-form-radio{ padding:0; }
.consult .entry-column .formTbl input,
.consult .entry-column .formTbl select,
.consult .entry-column .formTbl textarea{
	border:none;
	padding:10px;
	margin-bottom:15px;
	}
.consult .entry-column .formTbl label{ line-height:1.4; }
.consult .entry-column .formTbl .required{ font-size:11px; }
.consult .entry-column .formTbl dl{ padding:20px 0 5px; }
.consult .entry-column .formTbl dl:first-child{ }
	.consult .entry-column .formTbl dt{
		display:block;
		width:100%;
		margin-bottom:4.478%;
		font-size:14px;
		}
	.consult .entry-column .formTbl dd{
		display:block;
		width:100%;
		margin-left:0;
		vertical-align:top;
		}
	.consult .entry-column .formTbl dd span.fst{
		display:inline-block;
		width:auto;
		margin-left:0;
		padding-right:15px;
		text-align:left;
		}
	.consult .entry-column .formTbl dd span.scd{
		display:inline-block;
		width:auto;
		padding-right:15px;
		text-align:left;
		}
	.consult .entry-column .formTbl dd span.caption{
		display:inline-block;
		margin-bottom:15px;
		font-size:12px;
		}
	.consult .entry-column .formTbl.confirm dl{ padding:20px 0; }

	.consult .entry-column .formTbl .pPolicy{
		margin-top:2.239%;
		text-align:left;
		}
	.consult .entry-column .formTbl p.acms-admin-text-error,
	.consult .entry-column .formTbl p.acms-admin-text-error span{ }

	.consult .entry-column .formBtnWrap{
		text-align:center;
		font-size:0;
		}
	.consult .entry-column .formBtnWrap form{
		display:inline-block;
		border:none;
		margin:0 20px;
		}
	.consult .entry-column #btnConfirm,
	.consult .entry-column #btnToInput,
	.consult .entry-column #btnSubmit{
		padding:15px 20px 15px;
		font-size:14px;
		letter-spacing:-0.04em;
		}
		.consult .entry-column #btnConfirm:hover{ opacity:1; }
					
.consult .entry-column .formTbl input#name01,
.consult .entry-column .formTbl input#name02,
.consult .entry-column .formTbl input#kana01,
.consult .entry-column .formTbl input#kana02{
	width:70%;
	max-width:none;
	}

}
.consult.contact .entryHeader{ display:block; }
